.ratings-wrapper {
  display: inline;
}

.ratings {
  overflow: hidden;
  *zoom: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline;
 }

.ratings li {
  float: left;
  width: 30px;
  height: 30px;
  text-indent: -500000em;
  background: url(star@2x.png) no-repeat;
  background-size: 100%;
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.ratings li.over {
  background-position: 0 -30px;
  cursor: pointer;
}

.ratings li.active {
  background-position: 0 -60px;
}

.ratings li:active:after,
.ratings li:hover:after {
  background: #fff;
  color: #999;
  position: absolute;
  left: 160px;
  top: 0;
  text-indent: 0;
  padding: 12px;
  font-size: 1.1em;
  white-space: nowrap;
  cursor: text !important;
  font-style: italic;
  line-height: 1em;
}

.ratings li:nth-child(1):after {
  content: "Terrible";
}
.ratings li:nth-child(2):after {
  content: "Poor";
  left: 130px;
}
.ratings li:nth-child(3):after {
  content: "Average";
  left: 100px;
}
.ratings li:nth-child(4):after {
  content: "Very good";
  left: 70px;
}
.ratings li:nth-child(5):after {
  content: "Excellent";
  left: 40px;
}

#clear {
  margin: 9px 15px 0;
  display: inline-block;
  min-width: 10px;
  padding: 2px 6px;
  background-color: #999;
  background-color: #f8f8f8;
  border-radius: 3px;
  border-bottom: 2px solid #ccc;
  color: #999;
  text-shadow: none;
}

#clear:hover {
  background-color: #f8f8f8;
  border-bottom: 2px solid #f8f8f8;
  cursor: pointer;
}
